/* theme */

// faq section
.faq-section {

    ul.accordion-list {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        list-style: none;
        background-color: #f9f9fA;

        li {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            background-color: #FFF;
            padding: 20px 20px 20px 0;
            margin: 0 auto 15px auto;
            border-bottom: 1px solid #eee;
            border-radius: 5px;
            cursor: pointer;

            &.active {
                h4 {
                    &:after {
                        transform: rotate(45deg);
                    }
                }
            }

            h4 {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                padding: 0 0 0 0;
                padding-right: 50px;
                margin: 0;
                letter-spacing: 0.01em;
                cursor: pointer;

                &:after {
                    content: "";
                    font-family: "material-design-iconic-font";
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: #Fcc110;
                    transition: all 0.3s ease-in-out;
                    font-size: 18px;
                }

                svg {
                    width: 20px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            div.answer {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                cursor: pointer;

                p {
                    position: relative;
                    display: block;
                    font-weight: 300;
                    padding: 10px 0 0 0;
                    cursor: pointer;
                    line-height: 150%;
                    margin: 0 0 15px 0;
                    font-size: 14px;
                }
            }
        }
    }
}

// off-section
.off-section {
    position: relative;

    @include tablet {
        position: inherit;
    }

    @include all-phone {
        position: inherit;
    }

    .off-content-section {
        position: absolute;
        top: 100px;
        left: 40%;
        padding: 70px 90px;
        background-color: $white-color;

        @include tablet {
            position: inherit;
        }

        @include all-phone {
            position: inherit;
        }

        @include landscape-phone {
            padding: 70px 30px;
        }

        @include portrait-phone {
            padding: 20px 30px;
        }

        h2 {
            font-size: 50px;
            font-weight: 700;

            @include portrait-phone {
                font-size: 32px;
            }
        }

        input {
            display: block;
            margin: 30px 0;
            width: 100%;
            border: 0;
            border-bottom: 1px solid $primary-color;
            padding-bottom: 20px;
        }
    }
}

// blog section
.single-blog {
    p {
        a {
            margin-left: 10px;
            color: $primary-color;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
                transition: $transition;
            }
        }
    }
}

// gallary-section
.gallary-section {
    .gallery {
        display: flex;

        img {
            width: 243px;
            height: 285px;
        }
    }
}

// topFooter-section
.topFooter-section {
    .single-logo {
        display: flex;

        span {
            font-size: 40px;
        }

        .logo-contant {
            padding: 0 15px;
        }
    }
}

// footer-section

.footer-section {
    background-color: $primary-color;

    .footer-top {
        border-bottom: 1px solid $white-color;

        @include tablet {
            padding: 50px 0;
        }

        .footer-logo {
            padding-right: 70px;

            @include tablet {
                margin-bottom: 50px;
            }

            @include all-phone {
                margin-bottom: 50px;
            }

            h3 {
                color: $white-color;
            }

            p {
                color: $white-color;
                margin-bottom: 30px;

                @include tablet {
                    margin-bottom: 20px;
                }

                @include all-phone {
                    margin-bottom: 20px;
                }
            }

            .footer-icons {
                a {
                    color: $white-color;
                    margin-right: 40px;
                    font-size: 30px;
                }
            }
        }

        .footer-menu {
            @include all-phone {
                margin-bottom: 50px;
            }

            h5 {
                color: $white-color;
            }

            ul {
                li {
                    margin-top: 10px;

                    a {
                        color: $white-color;
                    }
                }
            }
        }

        .footer-form {
            h5 {
                color: $white-color;
            }

            input {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $white-color;
                padding-bottom: 20px;
                margin: 30px 0;

                @include all-phone {
                    margin: 20px 0;
                    padding-bottom: 10px;
                }
            }

            .primary-btn {
                border-radius: 0;
                display: block;
                width: 130px;
                background-color: $white-color;
                color: $primary-color;
                font-weight: 600;
            }
        }
    }
}

//next day

.dresses-section {
    .sort-dresses {
        select {
            width: 100%;
            padding: 25px 22px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url('../images/arrow.png') no-repeat right center;
            background-size: 20px;
            background-position: 90% 50%;
        }
    }

    .price-dresses {

        .price-level {
            background-color: $primary-color2;
            width: 100%;
            height: 4px;

            .price-level-black {
                background-color: $primary-color;
                width: 90%;
                height: 4px;
            }
        }

        .price {
            display: flex;
            justify-content: space-between;
            padding-right: 10px;

            p {
                color: $primary-color;
                font-weight: 500;
            }
        }
    }

    .availability-dresses {
        .chackbox {
            display: flex;

            .chackbox-content {
                display: flex;
                width: 200px;
                justify-content: space-between;
                margin-left: 10px;
                p{
                    margin-bottom: 0;
                    color: $primary-color;
                }
            }
        }
    }
}